[Desktop Entry]
Name=GColor2
GenericName=ColorPicker
Comment=Choose colours from palette or screen
Keywords=select;pick;detect;choose;colors;palette
Exec=gcolor2
Icon=/usr/share/pixmaps/gcolor2/icon.png
Type=Application
Terminal=false
StartupNotify=true
Categories=Graphics;
