[Desktop Entry]
Name[be]=FeedReader
Name[ca]=FeedReader
Name[cs]=FeedReader
Name[de]=FeedReader
Name[en_GB]=FeedReader
Name[es]=FeedReader
Name[fi]=Syötteenlukija
Name[fr]=FeedReader
Name[id]=FeedReader
Name[it]=FeedReader
Name[ja]=フィードリーダー
Name[ko]=피드리더
Name[lt]=FeedReader
Name[nb]=FeedReader
Name[nl]=FeedReader
Name[pl]=FeedReader
Name[pt]=FeedReader
Name[pt_BR]=FeedReader
Name[ro]=FeedReader
Name[ro_RO]=FeedReader
Name[ru]=FeedReader
Name[sq]=FeedReader
Name[sv]=FeedReader
Name[sw]=FeedReader
Name[tr]=FeedReader
Name[uk]=FeedReader
Name[zh_CN]=FeedReader
Name=FeedReader
Comment[ca]=Llegeix canals de serveis web
Comment[de]=Feeds von Webservices lesen
Comment[es]=Lee los feeds de los servicios web
Comment[fi]=Lue syötteitä verkkopalveluista
Comment[fr]=Lire les flux des services web
Comment[it]=Leggi feed dai servizi web
Comment[lt]=Skaityti kanalus iš saityno paslaugų
Comment[nb]=Leser kilder fra nettjenester
Comment[nl]=Lees feeds van webdiensten
Comment[pl]=Czytaj artykuły z serwisów internetowych
Comment[pt_BR]=Leia feeds de serviços Web
Comment[tr]=Web hizmetlerinden beslemeleri oku
Comment=Read feeds from web services
Categories=Network;Feed;
Exec=feedreader %U
Icon[be]=org.gnome.FeedReader
Icon[ca]=org.gnome.FeedReader
Icon[de]=org.gnome.FeedReader
Icon[en_GB]=org.gnome.FeedReader
Icon[fi]=org.gnome.FeedReader
Icon[fr]=org.gnome.FeedReader
Icon[it]=org.gnome.FeedReader
Icon[lt]=org.gnome.FeedReader
Icon[nb]=org.gnome.FeedReader
Icon[nl]=org.gnome.FeedReader
Icon[pl]=org.gnome.FeedReader
Icon[pt_BR]=org.gnome.FeedReader
Icon[sw]=org.gnome.FeedReader
Icon[tr]=org.gnome.FeedReader
Icon=org.gnome.FeedReader
Terminal=false
Type=Application
X-GNOME-UsesNotifications=true
X-GNOME-Gettext-Domain=FeedReader
X-GNOME-Keywords=
MimeType=x-scheme-handler/feedreader;
Actions=AboutDialog;

[Desktop Action AboutDialog]
Exec=feedreader --about
Name[ca]=Quant al FeedReader
Name[cs]=O FeedReaderu
Name[de]=Über FeedReader
Name[en_GB]=About FeedReader
Name[es]=Acerca de FeedReader
Name[et]=Info FeedReaderi kohta
Name[fa]=درباره FeedReader
Name[fi]=Tietoja - Syötteenlukija
Name[fr]=À propos de FeedReader
Name[id]=Tentang FeedReader
Name[it]=Informazioni su FeedReader
Name[ja]=FeedReaderについて
Name[ko]=피드리더 소개
Name[lt]=Apie FeedReader
Name[nb]=Om FeedReader
Name[nl]=Over FeedReader
Name[pl]=O FeedReaderze
Name[pt]=Sobre FeedReader
Name[pt_BR]=Sobre o FeedReader
Name[ro]=Despre FeedReader
Name[ro_RO]=Despre FeedReader
Name[ru]=О FeedReader
Name[sv]=Om FeedReader
Name[sw]=kuhusu FeedReader
Name[tr]=FeedReader Hakkında
Name[uk]=Про програму
Name[zh_CN]=关于 FeedReader
Name=About FeedReader
