[Desktop Entry]
Name[ca]=Pomodoro
Name[cs]=Pomodoro
Name[de]=Pomodoro
Name[el]=Pomodoro
Name[es]=Pomodoro
Name[fa]=پومودورو
Name[fr]=Pomodoro
Name[id]=Pomodoro
Name[it]=Pomodoro
Name[kk]=Pomodoro
Name[lt]=Pomodoro
Name[nl]=Pomodoro
Name[pl]=Pomodoro
Name[pt_BR]=Pomodoro
Name[ru]=Помодоро
Name[sv]=Pomodoro
Name[tr]=Pomodoro
Name[zh_CN]=番茄计时器
Name=Pomodoro
Comment[ca]=Una senzilla utilitat de gestió del temps
Comment[cs]=Jednoduchý nástroj pro time management 
Comment[de]=Ein einfaches Werkzeug für Zeitmanagement
Comment[el]=Μια απλή εφαρμογή διαχείρισης χρόνου
Comment[es]=Una sencilla utilidad de gestión del tiempo
Comment[fa]=یک ابزار مدیریت زمان ساده
Comment[fr]=Un outils simple de gestion du temps
Comment[id]=Suatu utilitas simpel manajemen waktu
Comment[it]=Una semplice utility per la gestione del tempo
Comment[kk]=Уақытты басқарудың қарапайым утилитасы
Comment[lt]=Paprastas laiko valdymo įrankis
Comment[nl]=Een simpel tijdsmanagementprogramma
Comment[pl]=Proste narzędzie do zarządzania czasem
Comment[pt_BR]=Uma ferramenta simples para gerenciar o tempo
Comment[ru]=Простой инструмент для тайм-менеджмента
Comment[sv]=Ett enkelt tidshanteringsverktyg
Comment[tr]=Basit bir zaman yönetimi aracı
Comment[zh_CN]=一个简易的时间管理工具
Comment=A simple time management utility
Keywords[cs]=Časovač;
Keywords[de]=Timer;
Keywords[el]=χρονόμετρο;
Keywords[id]=timer
Keywords[it]=timer;
Keywords[kk]=timer;таймер;
Keywords[lt]=laikmatis;
Keywords[nl]=timer;
Keywords[pl]=minutnik;
Keywords[sv]=tidtagare;timer;
Keywords[zh_CN]=计时器;
Keywords=timer;
Exec=gnome-pomodoro
Icon[cs]=Pomodoro
Icon[de]=gnome-pomodoro
Icon[el]=gnome-pomodoro
Icon[id]=gnome-pomodoro
Icon[it]=gnome-pomodoro
Icon[kk]=gnome-pomodoro
Icon[lt]=gnome-pomodoro
Icon[nl]=gnome-pomodoro
Icon[pl]=gnome-pomodoro
Icon[sv]=gnome-pomodoro
Icon[zh_CN]=gnome-pomodoro
Icon=gnome-pomodoro
StartupNotify=false
Terminal=false
Type=Application
Categories=GTK;GNOME;Utility;Clock;
X-GNOME-UsesNotifications=true
DBusActivatable=true
