[Desktop Entry]
Name[ca]=Podcasts
Name[cs]=Podcasty
Name[da]=Podcasts
Name[de]=Podcasts
Name[en_GB]=Podcasts
Name[es]=Podcasts
Name[fi]=Podcastit
Name[fr]=Podcasts
Name[fur]=Podcasts
Name[gl]=Podcasts
Name[hr]=Podcasti
Name[hu]=Podcastok
Name[id]=Podcast
Name[it]=Podcast
Name[ko]=팟캐스트
Name[lv]=Podraides
Name[nl]=Podcasts
Name[pl]=Podcasty
Name[pt_BR]=Podcasts
Name[sk]=Podcasty
Name[sv]=Poddsändningar
Name[tr]=Podcastler
Name=Podcasts
Comment[ca]=Escolteu els vostres podcasts predilectes, sense sortir del vostre escriptori.
Comment[cs]=Poslouchejte své oblíbené podcasty přímo z počítače
Comment[da]=Lyt til dine favorit podcasts fra dit skrivebord.
Comment[de]=Hören Sie Ihre Lieblings-Podcasts direkt in Ihrer Arbeitsumgebung.
Comment[en_GB]=Listen to your favorite podcasts, right from your desktop.
Comment[es]=Escuche sus podcasts favoritos, directamente desde su escritorio.
Comment[fi]=Kuuntele suosikkipodcastejasi suoraan työpöydältäsi.
Comment[fr]=Écouter vos podcasts favoris directement sur votre bureau.
Comment[fur]=Scolte i tiei podcast preferîts, daurman dal to scritori.
Comment[gl]=Escoita os teus podcasts favoritos, directamente desde o teu escritorio.
Comment[hr]=Slušajte svoje omiljene podcaste.
Comment[hu]=Hallgassa kedvenc podcastjait, közvetlenül az asztalán.
Comment[id]=Dengarkan podcast favorit Anda, langsung dari destop Anda.
Comment[it]=Ascoltare i propri podcast preferiti, direttamente proprio computer.
Comment[ko]=데스크톱에서 바로 원하는 팟캐스트를 듣습니다.
Comment[lv]=Klausieties savas iecienītās podraides savā darbvirsmā.
Comment[nl]=Luister naar uw favoriete podcasts, rechtstreeks vanop uw bureaublad.
Comment[pl]=Słuchanie ulubionych podcastów prosto z komputera.
Comment[pt_BR]=Ouça seus podcasts favoritos diretamente da sua área de trabalho.
Comment[sk]=Počúvajte vaše obľúbené podcasty priamo z vášho pracovného prostredia.
Comment[sv]=Lyssna på dina favoritpoddsändningar, direkt från ditt skrivbord.
Comment[tr]=Gözde podcastlerinizi masaüstünüzden dinleyin.
Comment=Listen to your favorite podcasts, right from your desktop.
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon[gl]=org.gnome.Podcasts
Icon=org.gnome.Podcasts
Exec=gnome-podcasts
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;AudioVideo;Audio;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ca]=Podcast;RSS;
Keywords[cs]=podcast;RSS;pořad;
Keywords[da]=Podcast;RSS;
Keywords[de]=Podcast;RSS;
Keywords[en_GB]=Podcast;RSS;
Keywords[es]=Podcast;RSS;
Keywords[fi]=Podcast;RSS;
Keywords[fr]=Podcast;RSS;Baladodiffusion;Émissions;
Keywords[fur]=Podcast;RSS;Regjistrazion;Trasmission;
Keywords[gl]=Podcast;RSS;
Keywords[hr]=Podcast;RSS;
Keywords[hu]=Podcast;RSS;
Keywords[id]=Podcast;RSS;
Keywords[it]=Podcast;RSS;
Keywords[ko]=Podcast;팟캐스트;RSS;
Keywords[lv]=Aplāde;Podraide;Podkāsts;RSS;
Keywords[nl]=Podcast;RSS;
Keywords[pl]=Podcast;Podkasty;RSS;Atom;
Keywords[pt_BR]=Podcast;RSS;
Keywords[sk]=Podcast;RSS;
Keywords[sv]=Poddsändning;Podcast;RSS;
Keywords[tr]=Podcast;RSS;Pod Yayını;
Keywords=Podcast;RSS;
DBusActivatable=true
