[Desktop Entry]
Name[ar]=لولي بوب (Lollypop)
Name[ca]=Lollypop
Name[cs]=Lollypop
Name[da]=Lollypop
Name[de]=Lollypop
Name[el]=Lollypop
Name[eo]=Lollypop
Name[es]=Lollypop
Name[fi]=Lollypop
Name[fr]=Lollypop
Name[hu]=Lollypop
Name[it]=Lollypop
Name[ja]=Lollypop
Name[lt]=Lollypop
Name[nb_NO]=Lollypop
Name[nl_BE]=Lollypop
Name[nl]=Lollypop
Name[sk]=Lollypop
Name[sr@latin]=Lollypop
Name[sr]=Лолипоп
Name[sv]=Lollypop
Name[tr]=Lollypop
Name[uk]=Lollypop
Name[zh_Hant]=Lollypop
Name=Lollypop
GenericName[ar]=قارئ الوسائط
GenericName[ca]=Reproductor musical
GenericName[cs]=Přehrávač hudby
GenericName[da]=Musik afspiller
GenericName[de]=Musikspieler
GenericName[el]=Αναπαραγωγός Μουσικής
GenericName[eo]=Muzikludilo
GenericName[es]=Reproductor de música
GenericName[fi]=Musiikkisoitin
GenericName[fr]=Lecteur de musique
GenericName[hu]=Zenelejátszó
GenericName[ie]=Reproductor de musica
GenericName[it]=Riproduttore Musicale
GenericName[ja]=音楽プレーヤー
GenericName[lt]=Muzikos grotuvas
GenericName[nb_NO]=Musikkavspiller
GenericName[nl_BE]=Muziekspeler
GenericName[nl]=Muziekspeler
GenericName[sk]=Hudobný prehrávač
GenericName[sr@latin]=Muzički plejer
GenericName[sr]=Пуштач музике
GenericName[sv]=Musikspelare
GenericName[tr]=Müzik Çalar
GenericName[uk]=Відтворювач музики
GenericName[zh_Hant]=音樂播放器
GenericName=Music Player
Comment[ar]=شغل مجموعات الموسيقى ونظمها
Comment[ca]=Escolteu i organitzeu la col·lecció de música
Comment[cs]=Přehrávat a pořádat hudební sbírku
Comment[da]=Afspil og organiser din musiksamling
Comment[de]=Spiele und organisiere deine Musiksammlung
Comment[el]=Αναπαραγωγή και οργάνωση της μουσικής σας συλλογής
Comment[eo]=Ludu kaj organizu vian muzikaron
Comment[es]=Reproduce y organiza tu colección de música
Comment[fi]=Toista ja hallitse musiikkikokoelmaasi
Comment[fr]=Lit et organise votre collection de musique
Comment[hu]=Zenegyűjtemény rendszerezése és lejátszása
Comment[ie]=Reproducter e organisar vor collection de musica
Comment[it]=Riproduci ed organizza la tua raccolta musicale
Comment[ja]=お気に入りの楽曲コレクションを再生・管理します
Comment[lt]=Grokite ir tvarkykite savo muzikinę kolekciją
Comment[nb_NO]=Spill og organiser din musikksamling
Comment[nl_BE]=Organiseert uw muziekcollectie en speelt muziek af
Comment[nl]=Organiseer je muziekverzameling en speel muziek af
Comment[ru]=Воспроизведение и упорядочивание вашей музыкальной коллекции
Comment[sr@latin]=Puštajte i organizujte vašu muzičku zbirku
Comment[sr]=Пуштајте и организујте вашу музичку збирку
Comment[sv]=Spela och organisera din musiksamling
Comment[tr]=Müzik derlemelerini çalın ve düzenleyin
Comment[uk]=Відтворення та організація вашої музичної колекції
Comment[zh_Hant]=播放您的音樂與整理音樂收藏
Comment=Play and organize your music collection
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon[ar]=org.gnome.Lollypop
Icon[ca]=org.gnome.Lollypop
Icon[cs]=org.gnome.Lollypop
Icon[da]=org.gnome.Lollypop
Icon[de]=org.gnome.Lollypop
Icon[eo]=org.gnome.Lollypop
Icon[es]=org.gnome.Lollypop
Icon[fi]=org.gnome.Lollypop
Icon[fr]=org.gnome.Lollypop
Icon[hu]=org.gnome.Lollypop
Icon[it]=org.gnome.Lollypop
Icon[ja]=org.gnome.Lollypop
Icon[lt]=org.gnome.Lollypop
Icon[nb_NO]=org.gnome.Lollypop
Icon[nl_BE]=org.gnome.Lollypop
Icon[nl]=org.gnome.Lollypop
Icon[sk]=org.gnome.Lollypop
Icon[sr@latin]=org.gnome.Lollypop
Icon[sr]=org.gnome.Lollypop
Icon[sv]=org.gnome.Lollypop
Icon[tr]=org.gnome.Lollypop
Icon[uk]=org.gnome.Lollypop
Icon[zh_Hant]=org.gnome.Lollypop
Icon=org.gnome.Lollypop
Exec=lollypop %U
Terminal=false
Type=Application
Categories=GNOME;GTK;AudioVideo;Player;Audio;
StartupNotify=true
X-PulseAudio-Properties=media.role=music
MimeType=application/ogg;application/x-ogg;application/x-ogm-audio;audio/aac;audio/mp4;audio/mpeg;audio/mpegurl;audio/ogg;audio/vnd.rn-realaudio;audio/vorbis;audio/x-flac;audio/x-mp3;audio/x-mpeg;audio/x-mpegurl;audio/x-ms-wma;audio/x-musepack;audio/x-oggflac;audio/x-pn-realaudio;audio/x-scpls;audio/x-speex;audio/x-vorbis;audio/x-vorbis+ogg;audio/x-wav;x-content/audio-player;audio/x-aac;audio/m4a;audio/x-m4a;audio/mp3;audio/ac3;audio/flac;application/xspf+xml;audio/x-opus+ogg;

Actions=Toggle;Next;Prev;

[Desktop Action Toggle]
Name[ar]=قراءة/لبث
Name[ca]=Sona / Pausa
Name[cs]=Přehrát/Pozastavit
Name[da]=Afspil/Sæt på pause
Name[de]=Wiedergabe/Pause
Name[el]=Αναπαραγωγή/Παύση
Name[eo]=Ludi/Paŭzigi
Name[es]=Reproducir/Pausar
Name[fi]=Toista/keskeytä
Name[fr]=Lecture/Pause
Name[hu]=Lejátszás/szünet
Name[ie]=Reproducter/pausar
Name[it]=Avvio/Pausa
Name[ja]=再生/一時停止
Name[lt]=Groti/Pristabdyti
Name[nb_NO]=Spill/pause
Name[nl_BE]=Afspelen/pauzeren
Name[nl]=Afspelen/Pauzeren
Name[sk]=Prehrať/Pozastaviť
Name[sr@latin]=Pusti/zaustavi
Name[sr]=Пусти/заустави
Name[sv]=Spela/Pausa
Name[tr]=Çal/Duraklat
Name[uk]=Відтворити/Призупинити
Name[zh_Hant]=播放/暫停
Name=Play/Pause
Exec=lollypop -t

[Desktop Action Next]
Name[ar]=التالي
Name[ca]=Següent
Name[cs]=Další
Name[da]=Næste
Name[de]=Nächster Titel
Name[el]=Επόμενο
Name[en_IE]=Next
Name[eo]=Sekva
Name[es]=Siguiente
Name[fi]=Seuraava
Name[fr]=Suivant
Name[ga]=An chéad rian eile
Name[he]=הבא
Name[hu]=Következő
Name[ie]=Sequent
Name[it]=Successivo
Name[ja]=次へ
Name[lt]=Kitas
Name[nb_NO]=Neste
Name[nl_BE]=Volgende
Name[nl]=Volgende
Name[pl]=Następny
Name[pt_BR]=Próxima
Name[pt_PT]=Seguinte
Name[ru]=Следующий
Name[sk]=Nasledujúca
Name[sr@latin]=Sledeća
Name[sr]=Следећа
Name[sv]=Nästa
Name[tr]=Sonraki
Name[uk]=Наступний
Name[zh_CN]=下一曲
Name[zh_Hant]=下一首
Name=Next
Exec=lollypop -n

[Desktop Action Prev]
Name[ar]=السابق
Name[ca]=Anterior
Name[cs]=Předchozí
Name[da]=Forrige
Name[de]=Vorheriger Titel
Name[el]=Προηγούμενο
Name[en_IE]=Previous
Name[eo]=Antaŭa
Name[es]=Anterior
Name[fi]=Edellinen
Name[fr]=Précédent
Name[ga]=An rian roimhe
Name[he]=הקודם
Name[hu]=Előző
Name[ie]=Precedent
Name[it]=Precedente
Name[ja]=前へ
Name[lt]=Ankstesnis
Name[nb_NO]=Forrige
Name[nl_BE]=Vorige
Name[nl]=Vorige
Name[pl]=Poprzedni
Name[pt_BR]=Anterior
Name[pt_PT]=Anterior
Name[ru]=Предыдущий
Name[sk]=Predchádzajúca
Name[sr@latin]=Prethodna
Name[sr]=Претходна
Name[sv]=Föregående
Name[tr]=Önceki
Name[uk]=Попередній
Name[zh_CN]=上一曲
Name[zh_Hant]=上一首
Name=Previous
Exec=lollypop -p
