[Desktop Entry]
Version=1.0
Name=Redshift
Name[be]=Redshift
Name[ca]=Redshift
Name[cs]=Redshift
Name[da]=Redshift
Name[de]=Redshift
Name[en_GB]=Redshift
Name[es]=Redshift
Name[fr]=Redshift
Name[he]=Redshift
Name[hu]=Redshift
Name[it]=Redshift
Name[ja]=Redshift
Name[lt]=Redshift
Name[nb]=Rødskift
Name[pl]=Redshift
Name[pt]=Redshift
Name[pt_BR]=Redshift
Name[ro]=Redshift
Name[ru]=Redshift
Name[sr]=Редшифт
Name[sv]=Redshift
Name[tr]=Redshift
Name[uk]=Redshift
Name[zh_CN]=红移
Name[zh_TW]=Redshift
Comment=Color temperature adjustment tool
Comment[be]=Інструмент рэгулявання каляровай тэмпературы
Comment[ca]=Eina per a l'ajust de la temperatura de color
Comment[cs]=Nástroj pro přizpůsobení barevné teploty
Comment[da]=Justeringsværktøj for farvetemperatur
Comment[de]=Farbtemperaturanpassungswerkzeug
Comment[en_GB]=Colour temperature adjustment tool
Comment[es]=Herramienta para el ajuste de la temperatura de color
Comment[fr]=Outil de réglage de la température de couleur
Comment[he]=כלי להתאמת טמפרטורת צבע
Comment[hu]=Színhőmérséklet beállító eszköz
Comment[it]=Strumento per la regolazione della temperatura del colore
Comment[ja]=色温度の調整ツール
Comment[lt]=Spalvos temperatūros reguliavimo įrankis
Comment[nb]=Justeringsverktøy for fargetemperatur
Comment[nl]=Hulpmiddel voor het bijstellen van de kleurtemperatuur
Comment[pl]=Narzędzie do dostosowywania temperatury barwowej
Comment[pt_BR]=Ferramenta de ajuste de temperatura de cor
Comment[ru]=Инструмент регулирования цветовой температуры
Comment[sr]=Алатка за прилагођавање температуре боје
Comment[sv]=Justeringsverktyg för färgtemperaturer
Comment[tr]=Renk sıcaklığı ayarlama aracı
Comment[uk]=Знаряддя налаштувань колірної температури
Comment[zh_CN]=色温调节工具
Comment[zh_TW]=色溫調整工具
Exec=redshift-gtk
Icon=redshift
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
