[Desktop Entry]
Name=Timeshift
MimeType=
Exec=timeshift-launcher
Type=Application
Terminal=false
Icon=timeshift
Comment=System Restore Utility
Comment[ca]=Utilitat de restauració del sistema
Comment[cs]=Nástroj pro obnovení systému
Comment[da]=Værktøj til systemgendannelse
Comment[fr]=Utilitaire de restauration système
Comment[lt]=Sistemos atkūrimo paslaugų programa
Comment[nl]=Hulpmiddel voor systeemherstel
Comment[ru]=Программа для восстановления системы
X-KDE-StartupNotify=false
Categories=System;
X-GNOME-UsesNotifications=true
