[Desktop Entry]
Name=FoxitReader
Comment=View pdf documents
Keywords=pdf;ppdf;octet-stream;
Exec=/usr/lib/foxitreader/FoxitReader.sh %U
StartupNotify=true
Terminal=false
Type=Application
Icon=/home/harisont/.local/share/icons/hicolor/64x64/apps/FoxitReader.png
#Icon=FoxitReader
X-GNOME-DocPath=
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=FoxitReader
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=3.14.1
Categories=GNOME;Viewer;Graphics;2DGraphics;VectorGraphics;
MimeType=application/pdf;application/ppdf;application/octet-stream;
NoDisplay=true
